<p id="notice"><%= notice %></p>

<h1>Zutatens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Preis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zutatens.each do |zutatens| %>
      <tr>
        <td><%= zutaten.name %></td>
        <td><%= zutaten.preis %></td>
        <td><%= link_to 'Show', zutaten %></td>
        <td><%= link_to 'Edit', edit_zutaten_path(zutaten) %></td>
        <td><%= link_to 'Destroy', zutaten, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zutaten', new_zutaten_path %>
